* {
  /*border: 0.5px solid grey*/
}

body {
  background-color: #FFE66D;
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > h1 {
  font-family: 'Pacifico', cursive;
  color: #FF5E5B;
  font-size: 3.5em;
  margin: 0.3em 0 0.1em 0;
}

.forms {
  display: flex;
  flex-direction: column;
}

.form-parts {
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 1em 0;
  padding: 0.3em;
  height: 37vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-parts > h2 {
  margin: 0.5em;
  display: flex;
}

.form-el {
  /*margin: 0.5em;*/
}

.index-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 0.5em;
}

input {
  line-height: 1.5em;
  padding: 0.3em 0 0 0;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  margin: 0.2em;
  font-size: 0.9em;
}

input:focus {
  border-bottom: solid 2px #969696;
  outline: none;
}

.form-btn {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #FF5E5B;
  color: #ffffff;
  border: none;
  padding: 0.5em 1em;
  margin: 1em 1em 0.3em 1em;
  width: 60%;
  font-weight: bold;
  font-size: 1em;
}

.form-btn:focus {
  border: none;
}

.form-btn:hover {
  background-color: #00CECB;
  color: #ffffff;
  cursor: pointer;
}

.guest-login {
  background-color: #FF5E5B;
  color: #ffffff;
  border-radius: 20px;
  text-decoration: none;
  margin: 1em 0;
}

.guest-login:hover {
  background-color: #00CECB;
  color: #ffffff;
}

.guest > h2 {
  padding: 0.5em 1em;
  margin: 0;
  padding: 0.7em 1em;
}




@media (min-width: 800px) {
  .main {
    height: 97vh;
    justify-content: center;
  }

  .main > h1 {
    font-size: 6em;
  }

  .forms {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .form-parts {
    width: 37%;
    margin: 1.5em;
  }

  @media (max-height: 630px) {
    .main {
      height: auto;
    }
  }

}
